/* ========================================= General styles ======================================*/
@font-face { 
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
    }
@font-face { 
    font-family: 'Roboto Condensed';}
body{
    font-family: 'Roboto Condensed';
    font-size: 14px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    text-transform: uppercase;
}
nav {
    width: 100%;
    top: 0px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: bisque;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #f36138;
    color: #ffffff;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: white;
}
.logo-navbar {
    background-image: url(../assets/img/lhrpadel.jpg);
    width: 60px;
    height: 60px;
    margin-left: 1%;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.text-navbar {
    color: #FF5722;
    font-size: 12px;
    float: left;
    margin-left: 2%;
    margin-top: 15px;
}
#mobile-menu-list{
	display: none;
}
section {
    width: 100%;
}
article{
    width: 100%;
    margin: 0px;
    padding: 10px;
}
footer {
    width: 100%;
    color: #9c9191;
    background-color: rgb(17, 22, 56);
    padding: 40px 0px;
    text-align: center;
    text-transform: none;
}
.social-icon{
    margin: 7px 7px;
    transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    -ms-transition: opacity .4s ease-in;
}
.social-icon:hover{
    text-decoration: none; 
    opacity: 0.7;
    transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    -ms-transition: opacity .4s ease-in;
    
}
.social-icon:focus{
    outline: none;
}
.tittles-pages-logo{
    font-family: 'Roboto Condensed';
}
.center-all-contens{
    margin-left: auto;
    margin-right: auto;
}
#carrito-compras-tienda{
    width: 100%;
}
#container-carrito-compras {
    /* background-color: rgb(27, 31, 51); */
    color: #000;
    display: none;
}
/* ========================================= index styles ======================================*/
#container-page-index{
    background-image: url(../assets/img/font-index.JPG);	
}
#jumbotron-index{
    margin: 0px;
    padding: 140px 25px;
    color: #fff;
    background-color: rgba(0,0,0,.7);
}
#new-prod-index{
    background-color: rgba(255,255,255,.9);
}
#reg-info-index{
    background-image: url(../assets/img/padel.jpg);
    border-top: 1px solid rgba(183, 165, 165,.2);
    background-size: cover;
}
#distribuidores-index {
    background-color: rgb(0, 0, 0);
    color: #000;
}
/* ========================================= product styles ======================================*/
#container-page-product{
    background-image: url(../assets/img/font-index.JPG);
}
#store {
    background-color: rgb(241, 97, 58);
    min-height: 900px;
}
.products {
    min-height: 900px;
    background-color: #e8e8e8;
}
/* ========================================= registration styles ======================================*/
#container-page-registration{
    background-image: url(../assets/img/font-registration.jpg);
}
#form-registration{
    min-height: 900px;
    background-color: rgba(255,255,255,.95);
    padding-top: 120px;
}
#container-form {
    width: 100%;
    background-color: #dcdcdc82;
    padding: 1em;
}
/* ========================================= configAdmin styles ======================================*/
#container-page-configAdmin{
    background-image: url(../assets/img/font-index.JPG);
}
#prove-product-cat-config{
    background-color: #fff;
    min-height: 900px;
}
#add-product,
#del-prod-form,
#add-categori,
#del-categori,
#add-provee,
#del-prove,
#add-admin,
#del-admin,
#del-pedido{
    border: 1px solid #e0e1e1 !important;
    border-radius: 4px;
    padding: 10px;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    width: 100%;
}
.registro {

}
.copyright {
    background-color: azure;
}
.thumbnail {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    /* background-color: #fff; */
    border: 1px solid #dacfcf;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 20px;
    /* padding-left: 2em; */
    /* padding-right: 2em; */
}
.thumbnail .caption {
    padding-left: 1em;
    padding-right: 1em;
    border-top-style: solid;
    border-width: 1px;
    border-color: #e2dede;
}
.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.p-4 {
    padding: 4em;
    border-style: solid;
    border-color: #e8e8e8;
}
.box {
    border-style: solid;
    border-color: #b7b7b7;
    padding: 2em;
    border-width: 1px;
}
.vertical-menu {
    width: 100%;
    /* background-color: #eee; */
    /* color: black; */
}

.vertical-menu a {
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom-style: solid;
    border-width: 1px;
    /* border-top-style: solid; */
}

.vertical-menu a:hover {
    background-color: #2c3048;
}

.vertical-menu a.active {
    background-color: #f1613a;
    color: white;
}
.box-product{
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 2px solid #d1d1d1;  
}
.p-10 {
    padding-top: 10em;
    padding-bottom: 10em;
}

.button {
 padding: 0;
 }

.button li {
 display: inline;
 }

.button li a {
    font-size: 11px;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
}
.credit{
    font-size: 11px;
    color: #ffffff;        
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    margin-right: 1px;
}
#registro {
    padding-top: 5em;
    padding-bottom: 5em;
    background-color: #ffffff;
}
.nopd{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-default {
    background-color: #393e5c;
    border-color: #e7e7e7;
    padding-left: 1em;
    padding-right: 1em;
}
.navbar-brand {
    float: left;
    padding: 7px;
    font-size: 18px;
    line-height: 20px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}
.form-group {
    margin-bottom: 20px;
}
.condiciones {
    text-transform: none;
    font-size: smaller;
}
.mb-3 {
    margin-bottom: 3px;
}
.cont-product {
    border-style: solid;
    border-width: 1px;
    border-color: antiquewhite;
}
.details {
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: none;
    margin-top: 10px;
}
.price {
    font-size: 24px;
    margin-bottom: 1px;
}
.details-title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    text-transform: none;
}
.container-img {
    width: auto;
}

/* Carousel base class */
.carousel {
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}
.search {
    background-color: #1b1b1b;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    height: 30px;
}
.ws {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
}
.lhr {
    color: white;
    letter-spacing: 2px;
}
.lhr:hover, .lhr:focus {
    color: #a2a2a2;
    text-decoration: none;
}
.ws:hover, .ws:focus {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;

}
.categorias {
    color: #d0d0d0;
    text-decoration: none;
    font-size: 18px;
}
.categorias:hover, .categorias:focus {
    color: #ffffff;
    text-decoration: none;
}
.buscador {
    height: 18px;
    margin-top: 3px;
}
.initial {
    text-transform: initial;
}
.acredit-inst {
    color: #00b706;
    font-weight: 700;
}
.input-login {
    height: 20px;
}
.nav-login {
    margin-bottom: 0px;
    font-size: 10px;
    color: white;
}
.form-control {
    display: block;
    width: 100%;
    height: 30px;
    /* padding: 12px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.items {
    color: white;
    text-transform: none;
    padding-right: 10px;
    font-size: 12px;
    padding-right: 1em;
    padding-left: 1em;
}
.boton {
    display: inline-block;
    padding-left: 1em;
    margin: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-transform: none;
    padding-right: 1em;
}
.form-inline {
    padding-right: 1em;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    /* font-weight: bold; */
}
.sesion {
    height: 20px;
    width: 110px;
    margin-right: 10px;
}
.radio label, .checkbox label {
    padding-left: 20px;
    margin-bottom: 4px;
    font-weight: normal;
    cursor: pointer;
}
.col-md-9{
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px; 
}
.bg-linea{
    background-color: rgb(218, 165, 32);
}
.infobanner {
    font-size: 12px;
    text-transform: initial;
    color: #f1613a;
    font-weight: 600;
}
.whatsapp {
    color: #189d0e;
    font-size: x-large;
    font-weight: 900;
}
.whatsapp:hover, .whatsapp:focus {
    color: #189d0e;
    text-decoration: none;
}
.enviamsj {
    font-size: 12px;
    text-transform: initial;
    color: #189d0e;
}







/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 400px;
}


.fade-carousel {
    position: relative;
    height: 400px;
    /*height: 100vh;*/
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 35%;
    /*top: 50%;*/
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4,
.fade-carousel .slides .slide-5 {
    height: 400px;
  /*height: 100vh;*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../assets/img/carousel1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../assets/img/carousel2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../assets/img/carousel3.jpg);
}
.fade-carousel .slides .slide-4 {
  background-image: url(../assets/img/carousel4.jpg);
}
.fade-carousel .slides .slide-5 {
  background-image: url(../assets/img/carousel5.jpg);
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    /* background-color: #eee; */
    border-color: #428bca;
}

.forms-control {
    display: block;
    width: 100%;
    /* height: 30px; */
    /* padding: 12px 12px; */
    font-size: 24px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
    /* -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; */
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
    text-align: center;
}

.paginator {
    padding: 2px;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 16px;
    color: black;
}
.box-paginator {
    padding: 2em;
    text-align: center;
}
.active {
    background-color: #f1613a;
    color: white;
    padding: 0.5em;
}